<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">

</head>

<body style="background-color: rgb(229, 239, 241);">

    <div class="container-fluid">

        <div id="myhome" style="text-align: right; display: none;">

            <a href="https://django-consume-api.herokuapp.com/">HOME PAGE</a>
        </div>

        <h5 style="text-align: center;">{{user.name}} photos</h5>

        <div class="row">
            {% for photo in photolist %}
            <div class="col">
                <div class="card" style="width: 8rem;">
                    <img src="{{ photo.thumbnailUrl }}" class="card-img-top" alt="">
                    <div style="text-align: center;" class="card-body">
                        {{ photo.id }}
                        <!--               
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a> 
                        -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

    <!-- Check if page is loaded inside a frame -->
    <script>
        $(document).ready(function () {

            var currurl = window.frameElement;

            if (!currurl) {

                document.getElementById('myhome').style.display = 'block';

            }

        });

    </script>

</body>

</html>
